<h1 align="center">Job Analytica</h1>
<!-- <app-userlogin></app-userlogin> -->

<!-- <nav>
    <a routerLink="job">Job Listings Page</a>
    &nbsp;
    <a routerLink="jobsearch">Job Search Page</a>
    &nbsp;
    <a routerLink="companyPage">Company Page</a>
    &nbsp;
    <a routerLink="companyLogin">Company Login</a>
    &nbsp;
    <a routerLink="userPage">User Page</a>
    &nbsp;
    <a routerLink="userLogin">User Login</a>
    &nbsp;
    <a routerLink="feat">Feature Page</a>

         
    <router-outlet></router-outlet>
        
</nav> -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
    <ul class="nav navbar-nav">
    <li class="active"><a routerlink="Home" href="#">Home</a></li>
    <li><a routerLink="job" href="#">Job Listings Page</a></li>
    <li><a routerLink="jobsearch" href="#">Job Search Page</a></li>
    <li><a routerLink="companyPage" href="#">Company Page</a></li>
    <li><a routerLink="companyLogin" href="#">Company Login</a></li>
    <li><a routerLink="userPage" href="#">User Page</a></li>
    <li><a routerLink="userLogin" href="#">User Login</a></li>
    <li><a routerLink="feat" href="#">Feature Page</a></li>
    
    </ul>
   </div>
   <router-outlet></router-outlet>
</nav>
