h1 {
    background: black;
    color: white;
}
li{
    background: black;
    color: white;
    /* text-emphasis-color: white; */
}

a {
    color: white;
    
}

a:hover {
    color: rgb(14, 16, 129);
}

.container-fluid {
    background: black;
}

h4 {
    width: 100%;
    color: Grey;
    text-align: right;
  }