<div class="card text-center m-3" class="container">
        <h1 align="center">&nbsp;</h1>
        <h1 align="center">&nbsp; </h1>
    <h1 align="center">J O B &nbsp; ||| &nbsp;A N A L Y T I C A</h1>
    <h1 align="center">&nbsp;  </h1>
    <h1 align="center">&nbsp;</h1>
    <nav>
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <!-- <li ><a routerlink="Home" href="#">Home</a></li> -->
                <li><a routerLink="stats" href="#">HOME &nbsp;||</a></li>
                <!-- <li><a routerLink="job" href="#">Job Listings Page</a></li> -->
                <li><a routerLink="jobsearch" href="#">JOB PAGE &nbsp;||</a></li>
                <!-- <li><a routerLink="companyPage" href="#">Company Page</a></li> -->
                <li><a routerLink="companyLogin" href="#">COMPANY LOGIN &nbsp;||</a></li>
                <!-- <li><a routerLink="userPage" href="#">User Page</a></li> -->
                <li><a routerLink="userLogin" href="#">USER LOGIN &nbsp;||</a></li>
                <!-- <li><a routerLink="feat" href="#">Feature Page</a></li> -->
                <li><a routerLink="adminLogin" href="#">ADMIN LOGIN &nbsp;||</a></li>
                <!-- <li><a routerLink="adminPage" href="#">Admin Page</a></li> -->
            </ul>
        </div>

       
    </nav>
</div>
<router-outlet></router-outlet>

<div class="card text-center m-3" class="container">
    <div class = "footerJob">
            <hr>
            <h4>JOB ANALYTICA|||  </h4>
            <h4>CREATED BY TLSJM ||</h4>
            <h4>EMAIL | contact@jobanalytica.co.uk </h4>
            <h4>PHONE | +44 7847583928</h4>
    </div>
    
</div>