<div class="card text-center m-3">
    <hr>
    <h2>Search all Jobs </h2>
    <input type="text" placeholder="Search" [(ngModel)]="searchParam" onfocus="this.value=''"
        (keyup.enter)="fetchJobsBySearchParam(searchParam)">
    <button
        (click)="fetchJobsBySearchParam(searchParam) ">Search</button>
    <hr>
</div>

<div class="card text-center m-3">
    <h3>Filter your search results </h3>
    <div>
        <h4>Salary</h4>
        <select [(ngModel)]="filterBySalaryParam" >
            <option value="null">⇩⇩ Salary Range ⇩⇩</option>
            <option value="100000">100000 +</option>
            <option value="90000">90000 +</option>
            <option value="80000">80000 +</option>
            <option value="70000">70000 +</option>
            <option value="60000">60000 +</option>
            <option value="50000">50000 +</option>
            <option value="40000">40000 +</option>
            <option value="30000">30000 +</option>
            <option value="20000">20000 +</option>
            <option value="10000">10000 +</option>
            <option value="null">⇩⇩ Existing Results ⇩⇩</option>
            <option *ngFor="let j of jobsObj  " value="{{j.salary}}">{{j.salary}}</option>
        </select>
    </div>

    <div>
        <h4>Location</h4>
        <select [(ngModel)]="filterByLocationParam">
            <option value=""></option>
            <option *ngFor="let j of jobsObj | filter : filterBySalaryParam" value="{{j.location}}">{{j.location}}
            </option>
        </select>
    </div>

    <div>
        <h4>Company</h4>
        <select [(ngModel)]="filterByCompanyNameParam">
            <option value=""></option>
            <option *ngFor="let j of jobsObj | filter : filterByLocationParam | filter : filterBySalaryParam "
                value="{{j.currentCompany.companyName}}">{{j.currentCompany.companyName}}</option>
        </select>
    </div>

    <div>
        <button (click)=" filter(filterBySalaryParam, filterByLocationParam, filterByCompanyNameParam)">Apply
            Filters</button>
    </div>

    <div class="card text-center m-3">
            <p>&nbsp;  </p> 
            <h3>Search your filtered results </h3>
            <input type="text" placeholder="Search" [(ngModel)]="searchParam" onfocus="this.value=''"
                (keyup.enter)="fetchJobsBySearchParam(searchParam)">
            <button
                (click)=" filter(filterBySalaryParam, filterByLocationParam, filterByCompanyNameParam) ">Search</button>
            <hr>
    </div>
    <hr>
    <div>
            <p> Number of search results : {{resultsLength}}</p>
    </div>
</div>

<hr>

<div class="card text-center m-3" class="container">
    <h3 class="card-header">Search Results</h3>
    <div class="card-body">
        <div *ngFor="let j of pageOfItems">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tbody>
                    <tr>
                        <th>JOB TITLE </th>
                        <th>SALARY </th>
                        <th>LOCATION</th>
                        <th>COMPANY</th>
                        <th>LOCATION</th>
                        <th>INDUSTRY</th>
                    </tr>
                    <tr>
                        <td>{{j.jobTitle}}</td>
                        <td>{{j.salary}}</td>
                        <td>{{j.location}}</td>
                        <td>{{j.currentCompany.companyName}}</td>
                        <td>{{j.currentCompany.location}}</td>
                        <td>{{j.currentCompany.industry}}</td>
                        <td> <a
                                href="https://www.totaljobs.com/jobs/{{j.jobTitle}}/in-{{j.location}}?radius=10&searchlocation=lee&s=header">Jobsite</a>
                        </td>
                        <td><a
                                href="https://www.totaljobs.com/jobs/{{j.jobTitle}}/in-{{j.location}}?radius=10&s=header">Totaljobs</a>
                        </td>
                        <td><a href="https://www.indeed.co.uk/jobs?q={{j.jobTitle}}&l={{j.location}}">Indeed</a></td>
                        <td><a href="https://www.reed.co.uk/jobs/{{j.jobTitle}}-jobs-in-{{j.location}}">Reed</a></td>


                        <td><button (click)="addJobToUser(j.jobId)">Save</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="jobsObj" (changePage)="paginationIncrease($event)"></jw-pagination>
    </div>
</div>