<h1>Specified Jobs</h1>

<input type="text" placeholder="Search" [(ngModel)]="searchText" autocomplete="off" >
<!-- <form >
    <div>
      <input type="text" placeholder="Search" ng-model = "searchBox">
      <button type="submit" ><i>Search</i></button>
    </div>
</form> -->
&nbsp;

<table >
    <tr>
        <th>Job Title: </th>
        <th>Salary: </th>
        <th>Location: </th>
    </tr>
    <tbody>
    <tr *ngFor = "let j of jobsObj | filter:searchText">
        <td >{{j.jobTitle}}</td>
        <td >{{j.salary}}</td>
        <td >{{j.location}}</td>
    </tr>
    </tbody>
    
</table>
