<!-- <h1>User Login</h1>
<table>
    <tr>
        <td>User Name</td>
        <td>
            <input [(ngModel)]="name"#inputEName="ngModel">
        </td>
    </tr>
    <tr>
        <td>Password</td>
        <td>
            <input [(ngModel)]="password"#inputEPassword="ngModel">
        </td>
    </tr> -->
    <!-- <tr>
        <td>
            <button (click)="getUserId(name)">Login</button>
        </td>
    </tr>
</table>
<br>
<br>
<br>
<button href="http://localhost:7700/jobs">Back</button> -->





<div class="container">
  <h2>User Login</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="name">User Name:</label>
      <input type="name" class="form-control" id="name" placeholder="Enter Username" name="name" [(ngModel)]="name" #inputUName>
      <!-- <span [hidden]="inputUName.valid || inputUName.pristine" class="alert alert-danger">Name should not have less than 6 characters</span> -->
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" [(ngModel)]="password" #inputUPassword>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <a routerLink="/userPage"><button type="submit" class="btn btn-default" (click)="selectUserId(inputUName.value)">Submit</button></a>
  </form>
</div>
