
  
  h1 {
    width: 100%;
    background-color: black;
    color:white;
  }
  
  h2 {
    width: 100%;
    background-color: black;
    color:white;
  }

  h3 {
    width: 100%;
    background-color: black;
    color:white;
  }

th {
  text-align: center;
}

td {
  text-align: center;
}