<div class="container">
    <h2>Admin Login</h2>
    <form action="/action_page.php">
      <div class="form-group">
        <label for="admin name">Admin Name:</label>
        <input type="admin name" class="form-control" id="admin name" placeholder="Enter admin name" name="admin name" #inputAName>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" #inputAPassword>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <a routerLink="{{httpOption}}"><button type="submit" class="btn btn-default" (click)="validateAdmin(inputAName.value,inputAPassword.value)">Submit</button></a>
    </form>
</div>
