<h2>Job Post</h2>
    <table>
        <tr>
            <th>Job Id</th>
            <th>Job Title</th>
            <th>Salary</th>
            <th>Location</th>
        </tr>

        <tr *ngFor = "let j of allJobs | slice:0:100; let i = index">
            <td>{{j.jobId}}</td>
            <td>{{j.jobTitle}}</td>
            <td>{{j.salary}}</td>
            <td>{{j.location}}</td>
            <td><button (click)="deleteJob(i, j.jobId)">x</button></td>
        </tr>
 
    </table>

    
        <br>
            <table>
                <tr>
                        <td>JobId:</td>
                        <td>{{jobId}}</td>
                        <td><button (click)="toggleEdits()">{{(isEditable)?"Save":"Edit"}}</button></td>
                        <td></td>
                </tr>
                <tr>
                        <td>Job Title:</td>
                        <td *ngIf="!isEditable">{{jobTitle}}</td>
                        <td *ngIf="isEditable">
                        <div class ="form-group">
                            <input [(ngModel)]="jobTitle"
                                #inputEname="ngModel"
                                minlength="3"
                                maxlength="48">
                
                            <span [hidden]="inputEname.valid || inputEname.pristine"
                            class="alert alert-danger">
                            Job Title should not be less than 3 characters</span>
                        </div>
                        </td>
                </tr>
                <tr>
                        <td>Salary:</td>
                        <td *ngIf="!isEditable">{{salary}}</td>
                        <td *ngIf="isEditable"><input [(ngModel)]="salary"></td>
                </tr>
                <tr>
                        <td>Location:</td>
                        <td *ngIf="!isEditable">{{location}}</td>
                        <td *ngIf="isEditable"><input [(ngModel)]="location"></td>
                </tr>
                <tr>
                        <td><button (click)="addJob">Add New Job</button></td>
                </tr>

                


            </table>
