table {
    table-layout: fixed ;
    width: 100% ;
  }
  td {
    width: 25% ;
  }

  h3 {
    width: 100%;
    background-color: black;
    color:white;
  }

  .barC {
    width: 100%;

    
  }

hr { 
  margin-top: 0px;
}

th {
  text-align: center;
}
td {
  text-align: center;
}